* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-image: url('kepek/hatter_galeria.jpeg');
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.img-wrapper 
{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 1.7s;
}

.img-wrapper span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--a) * 45deg)) translateZ(400px);
}

.img-wrapper span img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-wrapper 
{
    position: relative;
    width: 80%;
}

.btn
 {
    position: absolute;
    bottom: -80px;
    background-color: rgb(8, 176, 117);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover 
{
    filter: brightness(1.5);
}

#prev 
{
    left: 20%;
}

#next
{
    right: 20%;
}
#button
{
    margin-top: 170PX;
}
h4
{
    color: white;
    margin-top: 150px;
    
}
#iframekeret
{
    margin-top: 60px;
    background-color: white;
}
iframe
{
    background-color: black;
    width: 800px;
    height: 300px;
}
#vissza
{
    border: 2px solid red;
    background-color: red;
    color: black;
}