*
{
    margin: 0px;
    padding: 0px;
    font-family:arial;
}
body
{
    justify-content: center;
    background: gray;
}
h2
{
    justify-content: center;
    display: flex;
    color:transparent;
    font-size: 5vw;
}
h2 span
{
    animation: animate 5s linear infinite;
    animation-delay:calc(0.10s * var(--i));
}
@keyframes animate
{
    0%
    {
        color:#fff;
        filter: blur(2px)hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }    
    30%,70%
    {
        color:#fff;
        filter: blur(2px)hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(2px)hue-rotate(0deg);
    }  
}
img
{
    text-align: center;
    height: 250px;
    width: 233px;
}
#kepek1
{
    background-color: lightskyblue;
}
nav
{
    background-color: rgb(50, 49, 56);
    color: white;
    border: 3px solid black;
}
b
{
    color: rgb(74, 76, 78);
}
header 
{
    text-align: center;
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
ul
{
    height: 3px;
    text-align: center;
}
li
{
    border: 3 px solid black;
    display: inline;
    margin: 0 13px;
}
section
{
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
}
footer 
{
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
#cimek
{
    background-color: black;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #D4AF37, rgba(255, 0, 0, 0));
}
#tartalom
{
    background-color: #b05708;
}
#kapcsolatok
{
    height: 200px;
    background-color:#b6e2f5;
}
